<header>
    <app-theme-option (click)="applyTheme(theme)"
                      *ngFor="let theme of THEMES"
                      [class.selected]="selectedTheme === theme"
                      [theme]="theme">
    </app-theme-option>
</header>
<section>
    <div class="brand-color">
        <div></div>
        Brand Color
    </div>
    <div class="text-color">
        <div></div>
        Text Color
    </div>
</section>
<article>
    <div class="tile1">
    </div>
    <div class="tile2">
    </div>
    <div class="tile3">
    </div>
    <div class="tile4">
    </div>
</article>
<footer>
    <div>Made with <img src="assets/angular.svg" alt="angular logo"></div>
</footer>
